:root {
  --dark-c: #0b1320;
  --accent-c: #1c3f60;
  --accent-light-c: #afc1d0;
  --light-c: #f3f6fa;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: contain;
}

a {
  display: block;
}

button {
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

input {
  outline: none;
  transition: all 0.25s linear;
}
input:focus {
  box-shadow: 0rem 0rem 0.5rem rgba(255, 255, 255, 0.75);
  border-color: var(--light-c);
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: var(--dark-c);
}

div#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 5rem;
}

.df {
  display: flex;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 10px;
  }
  .container {
    padding: 0 2rem;
  }
}